* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --padding-left-right: 2rem;
}
@font-face {
  font-family: "kumbh";
  src: url("./Kumbh_Sans/static/KumbhSans-Regular.ttf");
}
@font-face {
  font-family: "kumbh bold";
  src: url("./Kumbh_Sans/static/KumbhSans-Bold.ttf");
}

/* globals style */
img {
  width: 100%;
}
body {
  min-height: 100vh;
  padding: 0 3.5rem;
  font-size: 1rem;
  font-family: "kumbh";
  position: relative;
}

/* navigation style section */
nav {
  padding: 1rem;
  margin-bottom: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  position: relative;
}

nav > section.main div.burger {
  height: 25px;
  width: 25px;
  display: none;
}
nav > section.main > div,
nav > section.user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
nav > section.user div.profile {
  width: 45px;
  height: 45px;
}
nav > section.main menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--Dark-grayish-blue);
  gap: 1.5rem;
}
nav > section.main menu ul li {
  position: relative;
  color: var(--Dark-grayish-blue);
}
nav > section.main menu ul li > span.highlighter {
  height: 0px;
  width: 100%;
  background-color: var(--Orange);
  position: absolute;
  left: 0;
  bottom: -144%;
  border-radius: 5px 5px 0 0;

  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

nav > section.main menu ul li:hover {
  color: var(--Black);
  font-weight: bold;
}
nav > section.main menu ul li.active {
  color: var(--Black);
  font-weight: bold;
}
nav > section.main menu ul li:hover > span.highlighter {
  height: 5px;
}
nav > section.main menu ul li > span.highlighter.active {
  height: 5px;
}
nav > section.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

nav > div.dashboard {
  position: absolute;
  top: 89%;
  right: -3%;
  width: 360px;
  min-height: calc(215px / 1.52);
  max-height: fit-content;
  background-color: var(--White);
  box-shadow: 7px 13px 20px 0px var(--Grayish-blue);
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 1rem;
  z-index: 2;

  display: none;
}

nav > div.dashboard > h4 {
  font-size: 1rem;
  padding: 0.5rem;
}
nav > div.dashboard > div.data {
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

nav > div.dashboard > div.data button {
  width: 100%;
  height: 54px;
  background-color: var(--Orange);
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-family: "kumbh bold";
}

nav > div.dashboard > div.data div.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
nav > div.dashboard > div.data div.container > div.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav > div.dashboard > div.data div.container > div.item img {
  border-radius: 5px;
}
nav > div.dashboard > div.data div.container > div.item > *:first-child {
  width: 50px;
  height: 50px;
}
nav > div.dashboard > div.data div.container > div.item > p {
  color: var(--Dark-grayish-blue);
  font-size: 1.1rem;
  text-align: start;
  flex-grow: 1;
}
nav > div.dashboard b {
  font-family: "kumbh bold";
  font-weight: bolder;
}

/* header style */
section.preview,
header {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  gap: 122px;
}
section.preview > figure,
header > figure {
  width: 444px;
}
section.preview > figure > div img,
header > figure > div img {
  border-radius: 10px;
}
section.preview > figure > div,
header > figure > div {
  max-width: 444px;
  height: 444px;
  display: flex;
  position: relative;
  overflow: hidden;
}
section.preview > figure > div > img,
header > figure > div > img {
  position: absolute;
  right: -100%;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
section.preview > figure > div > img.show,
header > figure > div > img.show {
  right: 0%
}
section.preview > figure > section.container,
header > figure > section.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  margin-top: 32px;
}
section.preview > figure > section.container > div,
header > figure > section.container > div {
  height: 92px;
  width: 94px;
  flex-grow: 1;
}
section.preview > figure > section.container > div img,
header > figure > section.container > div img {
  border-radius: 10px;
}
section.preview > figure > section.container > div img,
header > figure > section.container > div img,
section.preview > figure > div img,
header > figure > div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

header > main {
  max-width: 450px;
}
header > main > article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
header > main > article p,
nav li {
  color: var(--Dark-grayish-blue);
}
header > main article h1 {
  font-size: 44px;
  font-family: "kumbh bold";
}
header > main article h5 {
  width: fit-content;
  padding: 5px;
  text-align: center;
  color: var(--Orange);
  background-color: var(--Pale-orange);
  letter-spacing: 3px;
  border-radius: 5px;
}
header > main section.data {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
header > main section.data > div.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
header > main section.data > div.price > div {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
header > main section.data > div.price p.cost {
  font-family: "kumbh bold";
  font-size: 30px;
}
header > main section.data > div.price p.discount {
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 17px;
  font-family: "kumbh bold";
  border-radius: 5px;
  text-align: center;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  padding: 5px;
  align-items: center;
}
header > main section.data > div.price > p {
  color: var(--Grayish-blue);
  font-size: 18px;
}

header > main section.count {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
header > main section.count > button {
  width: 270px;
  /* min-width: 100%; */
  height: 56px;
  color: var(--White);
  background-color: var(--Orange);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "kumbh bold";
  border-radius: 5px;
  box-shadow: 5px 10px 4px 1px var(--Pale-orange);
}
header > main section.count > div.display {
  display: flex;
  align-items: center;
  width: 156px;
  justify-items: stretch;
  background-color: var(--Light-grayish-blue);
  border-radius: 5px;
  /* gap: 1rem; */
}

header > main section.count > div.display * {
  flex-grow: 1;
  text-align: center;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: "kumbh bold";
  font-size: 1rem;
}
header > main section.count > div.display button {
  color: var(--Orange);
}

div.attribution {
  margin: 1.5rem 0;
}

header > figure > div button {
  display: none;
}


section.preview {
  background-color: var(--Dark-grayish-blue);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
section.preview > figure {
  width: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.preview > figure img {
  border-radius: 8px;
}
section.preview > figure > .container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
} */


/* action  */
nav div.cart {
  position: relative;
}
div.picked {
  height: 20px;
  width: 20px;
  background-color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  z-index: -1;
  top: -50%;
  right: 50%;
  visibility: visible !important;
}
nav div.cart div {
  visibility: hidden;
}
nav > div.dashboard > div.data div.container > div.item > *:last-child,
button,
nav li,
.card,
.showcase,
.cart,
.profile {
  cursor: pointer;
}
.card:active {
  transform: scale(0.9);
}
.card:hover {
  /* opacity: 0.5; */
  border-radius: 15px;
}
.card:hover > img,
.card.active > img {
  opacity: 0.5;
}
.card.active {
  border: 3px solid var(--Orange);
  border-radius: 15px;
}

@media (max-width: 1024px) {
  body,
  header {
    padding: 0;
  }

  nav > section.main > menu,
  header > figure > section.container {
    display: none;
  }

  nav {
    margin-bottom: 0;
  }
  nav > section.main div.burger {
    display: block;
  }
  nav > div.dashboard {
    transform: translate(-50%, 0%);
    top: 90%;
    left: 50%;
    width: 95%;
  }

  /* header styling for mobile view */

  header {
    flex-direction: column;
    gap: 1rem;
  }
  header > figure {
    width: 100%;
    position: relative;
  }
  header > figure > div.showcase img {
    border-radius: 0;
  }
  header > figure > div.showcase {
    height: 300px;
  }
  header > main > section.data > section.count {
    flex-direction: column;
  }
  header > main > section.data > div.price {
    flex-direction: row;
  }
  header > main {
    padding: 1.5rem;
  }
  header > main article h1 {
    font-size: 8.5vw;
  }
  header > main article p {
    font-size: 20px;
  }

  header > main section.count > button {
    max-width: 270px;
    min-width: 100%;
  }

  header > main section.count > div.display {
    max-width: 270px;
    min-width: 100%;
    height: 56px;
  }

  header > figure > div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border: none;
  }
  header > figure > div button img {
    width: 15px;
    height: 15px;
  }

  header > figure > div button.left {
    left: 10%;
    display: none;
  }
  header > figure > div button.right {
    right: -2%;
  }
}
